asgiref==3.11.1
Django==6.0.3
django-ckeditor==6.7.3
django-cors-headers==4.9.0
django-js-asset==3.1.2
django-taggit==6.1.0
django-taggit-serializer==0.1.7
djangorestframework==3.17.1
djangorestframework_simplejwt==5.5.1
mysqlclient==2.2.8
pillow==12.2.0
PyJWT==2.12.1
six==1.17.0
sqlparse==0.5.5
